<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">
<head>
<meta charset="UTF-8" />
<title>Emprunts</title>

<script th:src="@{/js/jquery.js}" src="/js/jquery.js"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css}"
	href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css" />
<script
	th:src="@{//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js}"
	src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js">
	
</script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#datatable').dataTable();
	});
</script>

</head>
<body>
	<section layout:fragment="custom-content">
		<div class="col-md-21" id="sectionPrincipale">

			<div class="panel panel-inverse">
				<div class="panel-heading" style="text-align: center">
					<b>Gestion des Emprunts</b>
				</div>
				<div class="panel-body">

					<form th:action="@{/allEmprunts}" method="get">

						<button type="button" style="float: right;"
							class="btn btn-lg btn-success left-rounded" data-toggle="modal"
							data-target="#addEmprunt">
							<span class="glyphicon glyphicon-plus"></span> Nouveau emprunt
						</button>
					</form>

					<div id="livreDataTable" class="col-sm-20" align="center">
						<table id="datatable"
							class="table table-striped table-bordered dataTable"
							cellspacing="0">
							<thead>
								<tr role="row">
									<th class="sorting_asc" tabindex="0"
										aria-controls="myDataTable" rowspan="1" colspan="1"
										style="text-align: center;" aria-sort="ascending"
										aria-label="Name: activate to sort column descending">Id</th>
									<th class="sorting" tabindex="0" aria-controls="myDataTable"
										rowspan="1" colspan="1" style="text-align: center;"
										aria-label="Position: activate to sort column ascending">Exemplaire</th>
									<th class="sorting" tabindex="0" aria-controls="myDataTable"
										rowspan="1" colspan="1" style="text-align: center;"
										aria-label="Office: activate to sort column ascending">Usager</th>
									<th class="sorting" tabindex="0" aria-controls="myDataTable"
										rowspan="1" colspan="1" style="text-align: center;"
										aria-label="Age: activate to sort column ascending">Date
										emprunt</th>
									<th class="sorting" tabindex="0" aria-controls="myDataTable"
										rowspan="1" colspan="1" style="text-align: center;"
										aria-label="Start date: activate to sort column ascending">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr class="odd" role="row" th:each="e:${emprunts}">
									<td style="text-align: center" th:text="${e.idEmprunt}"></td>
									<td style="text-align: center"
										th:text="${e.exemplaire.idExemplaire}"></td>
									<td style="text-align: center"
										th:text="${e.usager.nom + ' ' +e.usager.prenom}"></td>
									<td style="text-align: center" th:text="${e.date}"></td>
									<td style="text-align: center">
										<button type="button" class="btn btn-success"
											data-toggle="modal" data-target="#rendre"
											th:onclick="|getIdExemp(${e.exemplaire.idExemplaire})|">
											<span class="glyphicon glyphicon-share-alt"></span> Rendre
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>



					<div class="modal fade" id="addEmprunt" role="dialog"
						style="display: none;" aria-hidden="true">
						<div class="modal-dialog">

							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header" id="addModalHeader">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h3 class="modal-title" style="text-align: center">Nouveau
										emprunt</h3>
								</div>
								<div class="modal-body">
									<form th:action="@{/addEmprunt}" method="get">
										<div class="form-group">
											<div class="form-group">
												<label class="col-md-6 control-label" for="lunch">Usager
													:</label> <select id="lunch" name="idUsager" class="selectpicker"
													data-live-search="true" title="Choisir usager ...">
													<option th:each="u :${usagers}" th:value="${u.idUsager}"><label
															th:text="${u.nom}"></label> <label th:text="${u.prenom}"></label></option>
												</select>
											</div>
											<div class="form-group">
												<label class="col-md-6 control-label" for="lunch">Exemplaire
													:</label> <select id="lunch" name="idExemplaireA"
													class="selectpicker" data-live-search="true"
													title="Choisir Exemplaire ...">
													<option th:each="e :${exemplaires}"
														th:value="${e.idExemplaire}"><label
															th:text="${e.idExemplaire}"></label> - (Oeuvre : <label
															th:text="${e.oeuvre.nom}"></label>)
													</option>
												</select>
											</div>
											<input type="hidden" name="page" value="emprunts" /> <input
												type="hidden" name="idLivre" value="" />
											<div class="form-group">
												<button type="submit" class="btn btn-success">
													<span class="glyphicon glyphicon-ok"></span> Emprunter
												</button>
												<button type="reset" class="btn">Annuler</button>
											</div>
										</div>
									</form>
								</div>
							</div>

						</div>
					</div>


					<div class="modal fade" id="rendre" role="dialog"
						style="display: none;" aria-hidden="true">
						<div class="modal-dialog">

							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header" id="rendreModalHeader">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h3 class="modal-title" style="text-align: center">
										Exemplaire <label id="idExemplaire2"></label>
									</h3>
								</div>
								<div class="modal-body">
									<form th:action="@{/rendreEmp}" method="get">
										<div class="form-group">
											<div class="form-group">
												<label class="control-label">Etat de l'exemplaire</label> <select
													class="form-control" name="etatExemplaire">
													<option value="Bonne">Bonne</option>
													<option value="mauvaiseEtat">Mauvaise</option>
													<option value="perime">Vieux</option>
												</select> <span class="has-error"></span>
											</div>
											<input type="hidden" name="idExemplaireR" value="" /> 
											<div class="form-group">
												<button type="submit" class="btn btn-success">
													<span class="glyphicon glyphicon-ok"></span> Rendre
												</button>
												<button type="submit" class="btn">Annuler</button>
											</div>
										</div>
									</form>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
		<script type="text/javascript">
			function getIdExemp(idExemp) {
				document.getElementsByName("idExemplaireA")[0].value = idExemp;
				document.getElementsByName("idExemplaireR")[0].value = idExemp;
				document.getElementsByName("idExemplaireU")[0].value = idExemp;
				document.getElementById("idExemplaire").innerHTML = idExemp;
				document.getElementById("idExemplaire2").innerHTML = idExemp;
			}
		</script>

	</section>
</body>
</html>